# Question 2  
## File Parsing
A webserver log file contains multiple log entries of various activities. Each log entry is begins with
either
INFO, DEBUG or ERROR. Write a program that accepts a log file and writes 3 different log files - one
for each type of log entry ( i.e. INFO log, DEBUG log and ERROR logs) containing those relevant type
of log entries.

In [40]:
# Importing Libraies for importing dataset
import pandas as pd

In [41]:
# Reading the dataframe with column 0 as serial no.
df=pd.read_csv("LogFile.csv", index_col=0)

In [42]:
df

                              Entry     Log
Serial No.
1            5 March 2022, 12:57 pm    Info
2             6 March 2022, 1:57 pm  Debug
3            6 March 2022, 12:57 pm   Error
4             7 March 2022, 1:57 pm    Info
5            7 March 2022, 12:57 pm  Debug
6             8 March 2022, 1:57 pm   Error
7            8 March 2022, 12:57 pm    Info
8            6 March 2022, 12:57 pm  Debug
9             7 March 2022, 1:57 pm   Error
10           7 March 2022, 12:57 pm    Info
11            8 March 2022, 1:57 pm  Debug
12           8 March 2022, 12:57 pm   Error
13            9 March 2022, 1:57 pm    Info
14           9 March 2022, 12:57 pm  Debug
15           7 March 2022, 12:57 pm   Error
16            8 March 2022, 1:57 pm    Info
17           8 March 2022, 12:57 pm  Debug
18            9 March 2022, 1:57 pm   Error
19           9 March 2022, 12:57 pm    Info
20           10 March 2022, 1:57 pm  Debug
21          10 March 2022, 12:57 pm   Error
22           8 March 2022, 12:57 pm    Info
23            9 March 2022, 1:57 pm  Debug
24           9 March 2022, 12:57 pm   Error
25           10 March 2022, 1:57 pm    Info
26          10 March 2022, 12:57 pm  Debug

In [48]:
#Create a list to store tuple of various entries
lis=[]

In [49]:
#group all the element by the value in log 
for g in df.groupby(['Log']):
    lis.append(g)

In [52]:
for i in range (len(lis)):
    #lis[i][0] stores the name of group. We add cs
    fileName=str(lis[i][0])+".csv"
    #Can see the file name if we print
    print(fileName)
    temp=lis[i][1].reset_index()
    temp.drop('Serial No.', axis=1, inplace=True) 
    temp.to_csv(fileName)

Debug .csv
Error.csv
Info.csv

In [53]:
#see the debug file
debug=pd.read_csv("Debug .csv")
debug

   Unnamed: 0                    Entry     Log
0           0    6 March 2022, 1:57 pm  Debug
1           1   7 March 2022, 12:57 pm  Debug
2           2   6 March 2022, 12:57 pm  Debug
3           3    8 March 2022, 1:57 pm  Debug
4           4   9 March 2022, 12:57 pm  Debug
5           5   8 March 2022, 12:57 pm  Debug
6           6   10 March 2022, 1:57 pm  Debug
7           7    9 March 2022, 1:57 pm  Debug
8           8  10 March 2022, 12:57 pm  Debug